[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/meiertgrootes
[access "refs/for/refs/*"]
	read = group user/meiertgrootes
	push = group user/meiertgrootes
	label-Code-Review = -2..+2 group user/meiertgrootes
	label-Verified = -1..+1 group user/meiertgrootes
	rebase = group user/meiertgrootes
	removeReviewer = group user/meiertgrootes
	submit = group user/meiertgrootes
[access "refs/heads/*"]
	read = group user/meiertgrootes
	create = group user/meiertgrootes
	push = +force group user/meiertgrootes
	pushMerge = group user/meiertgrootes
[access "refs/tags/*"]
	push = group user/meiertgrootes
	push = +force group user/meiertgrootes
